</main>
 

<footer>

  <div class = "footerTxt">
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% if (locals.currentYear) { %>
    <p> © Mapopo2 <%= currentYear %>
      <a href="https://github.com/mapopo2"><i class="fa-brands fa-github fa-xl fa-bounce github"></i></a></p>
    <%} %>
  </div>
  <!-- https://www.w3schools.com/jsref/jsref_getfullyear.asp -->
</footer>
</body>
<!-- https://fontawesome.com/icons/github?f=brands&s=solid&sz=xl
https://fontawesome.com/docs/web/style/animate#spin -->

</html>