<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=The+Girl+Next+Door&display=swap" rel="stylesheet">
  <!-- icons -->
  <script src="https://kit.fontawesome.com/64e8faaeab.js" crossorigin="anonymous"></script>
  
  
  <title>Much Ado About Nothing To Do List</title>
  <!-- <h1 class = "title">Much Ado About Nothing To Do List</h1> -->
  <!-- add today heading - homepage is today -->

  <header>
    <nav class="navbar navbar-light bg-transparent nav justify-content-center">
      <!-- <a class="navbar-brand" href="/">Lists</a> -->
      <!-- <div class = "whichList">navbar-expand-lg -->

        <ul class="nav nav-pills">
          
          <li class="nav-item">
              <a href="/" class="nav-link active bg-transparent navTitle">
                <i class="fa-solid fa-lg fa-house icon"></i>Today</a>
                <!-- https://getbootstrap.com/docs/4.0/getting-started/theming/   -->
          </li> 
          
          <li class="nav-item">
            
            <a href="/work" class="nav-link active bg-transparent navTitle">
              <i class="fa-solid fa-lg fa-briefcase icon"></i>Work</a>
            
          </li>
      
        </ul>
      <!-- </div> -->
    </nav>
  </header>
  

</head>

<body>
  <main>