<%- include("partials/header.ejs") %>

      <div class = "date">
            <h2 > <%= locals.currentDate %> </h2> 
      </div>

      <div id="addToList">

            <form action="/" method="post">
                  <input type="text" name = "listItem" class ="myInput" placeholder=" What to do, what to do..." required >
                  
                  <button type="submit" id = "add">+</button>
            </form>
      
      </div>   
      
      <container class="box1">

           
            <div id="items">
                  
                  <ul id="unList">
                        <% for(let i=0; i<items.length; i++) { %> 
                        <li class = "toDo">
                           <input type="checkbox" class="checker"> 
                           <span class="checkboxtext"> <%= items[i];%> </span>
                        </li>
                        <% };%>  

                        <li class = "toDo">
                              <input type="checkbox" class="checker"> 
                              <span class="checkboxtext">Meet George</span>
                              <!-- add span to add class to list item--> 
                              
                        </li>
                        <li class = "toDo">
                              <input type="checkbox" class="checker"> 
                              <span class="checkboxtext">Gym</span>  
                        </li>
                        <li class = "toDo">
                              <input type="checkbox" class="checker"> 
                              <span class="checkboxtext">Pay bills</span>
                        </li>
                        <li class = "toDo">
                              <input type="checkbox" class="checker"> 
                              <span class="checkboxtext">Groceries</span>
                        </li>
                  </ul>
                  
            </div>

      </container>
      

<%- include("partials/footer.ejs") %>
<!-- Step 3 Add Footer -->

