<%- include("partials/header.ejs") %>

<div class = "date">
    <h2 ><a href="/work"><i class="fa-solid fa-lg fa-caret-right fa-flip-horizontal arrow"></i></a> 
       <%= locals.tomorrowsDate %></h2> 
</div>


<div id="addToList">

      <form action="/work-tomorrow" method="post">
            <input type="text" name = "listTomorrow" class="myInput" placeholder=" What to do, what to do..." required>
            <button type="submit" id = "add">+</button>
      </form>

  

</div>

      
      
<div class="box1">

     
      <div id="items">
            
            <ul id="unList">
                  <% for(let i=0; i<tomorrowItems.length; i++) { %> 
                  <li class = "toDo">
                     <input type="checkbox" class="checker"> 
                     <span class="checkboxtext"> <%= tomorrowItems[i];%> </span>
                  </li>
                  <% };%> 
                 
                  <li class = "toDo">
                        <input type="checkbox" class="checker"> 
                        <span class="checkboxtext">it support</span>
                        <!-- add span to add class to list item--> 
                        
                  </li>
                  <li class = "toDo">
                        <input type="checkbox" class="checker"> 
                        <span class="checkboxtext">Emails</span>  
                  </li>
                  <li class = "toDo">
                        <input type="checkbox" class="checker"> 
                        <span class="checkboxtext">git, github and version control</span>
                  </li>
                  <li class = "toDo">
                        <input type="checkbox" class="checker"> 
                        <span class="checkboxtext">Applications</span>
                  </li>
            </ul>
      </div>
      

</div>





<%- include("partials/footer.ejs") %>
