<%- include("partials/header.ejs") %>

<div class = "date">
      <h2 > <%= locals.currentDate %>      
      <a href="/work-tomorrow"><i class="fa-solid fa-lg fa-caret-right arrow"></i></a> 
      </h2> 
</div>

<div id="addToList">

      <form action="/work" method="post">
            <input type="text" name = "listItemWork" class="myInput" placeholder=" What to do, what to do..." required>
            <button type="submit" id = "add">+</button>
      </form>

</div>
      
<div class="box1">

     
      <div id="items">
            
            <ul id="unList">
                  <% for(let i=0; i<workItems.length; i++) { %> 
                  <li class = "toDo">
                     <input type="checkbox" class="checker"> 
                     <span class="checkboxtext"> <%= workItems[i];%> </span>
                  </li>
                  <% };%>
                 
                  <li class = "toDo">
                        <input type="checkbox" class="checker"> 
                        <span class="checkboxtext">Loc guide finish</span>
                        <!-- add span to add class to list item--> 
                        
                  </li>
                  <li class = "toDo">
                        <input type="checkbox" class="checker"> 
                        <span class="checkboxtext">Emails</span>  
                  </li>
                  <li class = "toDo">
                        <input type="checkbox" class="checker"> 
                        <span class="checkboxtext">To do list finish</span>
                  </li>
                  <li class = "toDo">
                        <input type="checkbox" class="checker"> 
                        <span class="checkboxtext">Applications</span>
                  </li>
            </ul>
      </div>
      

</div>





<%- include("partials/footer.ejs") %>
